.swiper-pagination-bullet {
 background: #999999 !important;
 opacity: 1 !important; 
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #FFBA08 !important;
}

.swiper-button-next {
  margin-right: 1rem;
}

.swiper-button-prev {
  margin-left: 1rem;
}

.swiper-button-next, .swiper-button-prev {
  color: #FFBA08 !important;
}

.swiper-button-disabled {
  display: none !important;
}